@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 79% 12%;
    --foreground: 210 40% 98%;
    --card: 216 50% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 216 50% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 65% 58%;
    --primary-foreground: 215 79% 12%;
    --secondary: 216 34% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 22%;
    --muted-foreground: 215 16% 55%;
    --accent: 150 92% 85%;
    --accent-foreground: 215 79% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 22%;
    --input: 216 34% 22%;
    --ring: 182 65% 58%;
    --chart-1: 182 65% 58%;
    --chart-2: 150 92% 85%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 79% 12%;
    --foreground: 210 40% 98%;
    --card: 216 50% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 216 50% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 65% 58%;
    --primary-foreground: 215 79% 12%;
    --secondary: 216 34% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 22%;
    --muted-foreground: 215 16% 55%;
    --accent: 150 92% 85%;
    --accent-foreground: 215 79% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 22%;
    --input: 216 34% 22%;
    --ring: 182 65% 58%;
    --chart-1: 182 65% 58%;
    --chart-2: 150 92% 85%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
